@media only screen and (max-width:46em) {
  .aboutHeader {
    font-size:1.8rem!important
  }
  .aboutHeaderTxt {
    font-size: 0.8rem!important;
  }
  .aboutMissionState {
    font-size:1.4rem!important
  }
  .net0labsMask {
    width:85%!important
  }
}
.aboutContainer {
    height:70%;
    min-height:58vh;
    width:100%;
    max-width: 1000px;
    margin:0 auto;
    margin-top: 1.4rem;
    /* text-align: center; */
    position: relative;
}
.aboutSubContainer {
    padding:1rem 0;
}
.aboutSubCommitContainer {
    padding-top:0.4rem
}
.aboutHeader {
    font-size:2.4rem;
    margin:1rem 0;
}
.aboutHeaderTxt {
    font-size:1rem;
    margin-bottom: 0;
}
.aboutMissionState {
    margin:2.5rem 0 0.5rem;
    text-shadow: 0 0 10px aquamarine;
}
.aboutTxt {
    margin-left:1rem;
    font-size:0.9rem
}
.net0labsCertContainer {
    margin:0 auto;
    margin:2.4rem 0 2rem;
    text-align: center;
}
.net0labsMask {
    width:100%;
    max-width: 340px;
    border-radius: 50%;
    box-shadow: 2px 2px 2px limegreen, 0 0 23px lightseagreen;
    animation: fadeIn 6s;
    -webkit-animation: fadeIn 6s;
    -moz-animation: fadeIn 6s;
    -o-animation: fadeIn 6s;
    -ms-animation: fadeIn 6s;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn { /* Firefox */
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn { /* Safari and Chrome */
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn { /* Opera */
  0% {opacity:0;}
  100% {opacity:1;}
}
