.dashboardContainer {
    width:100%;
    max-width: 1200px;
    margin:0 auto;
    margin-top: 3rem;
}
.dashboardLeftHeader {
    width:80%;
    display: inline-block;
}
.dashboardRightHeader {
    width:20%;
    display: inline-block;
    text-align: right;
    padding-right:0.8rem;
    vertical-align: bottom;
}
.dashboardSubContainer {
    position: relative;
    width:100%;
    min-height:400px;
    max-height:640px;
    border-radius: 6px;
    box-shadow: 0px 1px 1px aquamarine, 0 0 8px #6AD0AE;
    /* box-shadow: 0 1px 1px white, 0 0 8px white; */
    /* margin:0rem 0 1rem; */
    padding:0.1rem 1.5rem 1rem 1rem;
}
.dashboardMainHeader {
    margin:0 0 1.4rem
}
.dashboardHeader {
    color:#616161;
    text-shadow: none!important;
    margin:1rem 0.5rem 0.6rem;
}
.emissionsLeftContainer, .emissionsRightContainer {
    display: inline-block;
    width:30%;
    height: 100%;
    vertical-align: top;
}
.emissionsRightContainer {
    width: 70%;
}
.emissionsChartContainer {
    display: inline-block;
    height:49%;
    width:100%;
    color:darkgray!important;
    text-shadow: none!important;
    margin:1rem 0 0.5rem
}
.logoChain, .txtChain, .topDashboard, .subHeader {
    display: inline-block;
}
.chainContainer {
    width:100%;
    height:100%;
}
.chainRightContainer, .chainLeftContainer {
    display: inline-block;
}
.chainLeftContainer {
    text-align: left;
    width: 100%;
    /* display: grid; */
}
.chainTable {
    width: 100%;
    margin:1rem;
    /* display: grid; */
    border-collapse: collapse;
}
.tableHeader {
    color:#616161;
    text-shadow: none!important;
    font-size:0.75rem;
    opacity:0.7;
}
.footNote {
    width:100%;
    margin:0.6rem 0 0;
    font-size:0.6rem;
    color:darkgray!important;
    text-shadow: none!important;
    opacity: 0.3!important;
    text-align: right;
} 
.subHeadHeader {
    font-size:0.6rem
}