.nftContainer {
  height: 100%;
  width:100%;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  cursor: pointer;
  /* opacity:0.4; */
  filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
}
.videoContainer {
  width:30%;
  margin:1.6rem 0.5rem;
    /* border-radius: 4px; */
}
.videoMask {
  width:75%;
  margin: 0 auto;
  border-radius: 4px;
  text-shadow:0 0 4px white;
  box-shadow: 0 1px 1px white, 0 0 8px white;
}