@media only screen and (max-width:46em) {
    .offsetsSubLeftContainer, .offsetsSubRightContainer {
        width:100%!important;
    }
    .offsetsSubRightContainer {
        margin-top:1.4rem!important;
    }
    .offsetsBar {
        padding:0.3rem 0!important;
    }
    .subChartHeader {
        margin-top:1rem!important
    }
}
@media only screen and (min-width: 46em) and (max-width: 66em) and (orientation:portrait) {

}

.offsetsOuterContainer, .offsetsPortfolioContainer {
    width:100%;
    height:100%;
    padding:1rem 0;
}
.offsetsSubLeftContainer, .offsetsSubRightContainer {
    display: inline-block;
    width:35%;
    height:100%;
    /* padding-top: 1rem; */
    vertical-align: top;
}
.offsetsSubRightContainer {
    position: relative;
    width:63%;
    height:100%;
    min-height:340px;
    color:#616161!important;
    text-shadow: none!important;
}
.offsetsFlexGrid {
    display: flex;
}
.offsetsGrid {
    text-align: center;
    flex-wrap: wrap;
    width:100%;
}
.offsetsBar {
    list-style: none!important;
    list-style-type: none!important;
    margin: 0;
    text-align: center;
    /* padding: 0; */
    padding: 1.4rem 0 0;
}
.offsetsSubTxt {
    font-size:0.7rem;
    /* display: inline-block; */
    color:darkgray!important;
    text-shadow: none;
    opacity:0.5!important;
    /* width:100%; */
    /* margin-top:0.8rem; */
    margin: 0.4rem 0 0.8rem;
}
.certLink {
    width:100%;
    opacity:0.7;
}
.offsetsStatsTxt {
    font-size:1.4rem;
    padding:0;
    margin: 0;
    text-shadow:0 0 10px white;
}
.subOpEmissionsTxt {
    padding:0.6rem 0 0rem;
    font-size: 1.5rem;
}
.emissionsUnits {
    font-size:0.6rem;
    display: inline-block;
    margin-left:0.3rem
}
.txtNA {
    color:#616161!important;
    text-shadow: none!important;
}
.offsetCryptoCo {
    display: inline-block;
    font-size:0.6rem;
    /* padding:0.3rem 0.4rem; */
    color:red;
    text-shadow:0 0 20px red;
    /* background-color: red; */
    width:fit-content;
    text-align: center;
    margin: 0 auto;
    margin-top:0.1rem;
    border-radius: 6px;
}
.notActiveContainer {
    position: absolute;
    left: 0;
    top: 40%;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index:2;
    display: flex;
    justify-content:center;
    margin:0 auto;
}
.notActiveTxt {
    /* display: inline-block; */
    vertical-align: middle;
    line-height: normal;
    font-size:1.4rem;
    color:darkgray!important;
    text-shadow: none!important;
    opacity: 0.3!important;
}
.subHeaderDivider {
    margin:0.8rem 1.5rem 1.5rem 1.5rem;
    border-top: 3px solid darkgray;
    opacity:0.1;
    border-radius: 6px;
}
.subChartContainer {
    height:30%;
    max-height: 250px;
    width:100%;
    padding:0 0.5rem;
    /* color:#616161!important;
    text-shadow: none!important; */
}
.subHeader {
    width: 80%;
    font-size:0.9rem;
    margin: 0 auto;
    /* margin:0rem 0 1rem; */
    padding-top: 0;
    text-align: left;
    color:#616161!important;
    text-shadow: none!important;
}
.subChartHeader {
    font-size:0.8rem;
    margin:0rem 0 1rem;
    padding-top: 0;
    text-align: center;
    color:darkgray!important;
    text-shadow: none!important;
}
.txtCenter {
    position: absolute;
    top:50%;
    left:0;
    right:0;
    text-align: center;
    z-index:99
}