.dashboardContainer {
    width:100%;
    max-width: 1000px;
    margin:0 auto;
}
.dashboardSubContainer, .dashboardOpsSubContainer {
    position: relative;
    width:100%;
    /* max-width: 1000px; */
    /* height:fit-content; */
    min-height:400px;
    max-height:600px;
    border-radius: 6px;
    box-shadow: 0 1px 1px #61668B, 0 0 10px #61668B;
    margin:0.5rem 0 1rem;
}
.dashboardOpsSubContainer {
    max-height: 800px;
}
.dashboardHeader {
    margin:1rem 0.5rem;
}
.flexGrid {
    display: flex;
    justify-content: space-between;
}
.flexOfficeGrid {
    display: flex;
}
.grid, .innerGrid, .officeGrid {
    text-align: center;
    flex-wrap: wrap;
    width:31%;
    min-height:8vh;
    padding:0.5rem 1rem 0;
    margin:1rem 0;
    border-radius: 6px;
    font-size: 0.8rem;
    /* box-shadow: 0 1px 1px #CDCDCD, 0 0 8px #CDCDCD; */
    box-shadow: 0 1px 1px #61668B, 0 0 10px #61668B;
}
.innerGrid {
    width:23%;
    box-shadow: none!important;
}
.officeGrid {
    justify-content:revert!important;
    /* grid-template-columns: repeat(3, 1fr); */
    box-shadow: none!important;
    display:inline-block;
    /* text-align: left; */
}
.gridVertical {
    width:100%;
    text-align: center;
    flex-wrap: wrap;
}
.subContainer, .subStatsContainer {
    display: inline-block;
    width:28%;
    text-align: center;
    vertical-align: top;
}
.subStatsContainer {
    width:23%;
    height:100%;
}
.subMapContainer {
    display: inline-block;
    width:70%;
}
.subChartContainer {
    display: inline-block;
    width:75%;
    height:100%;
    text-shadow: none!important;
    opacity:0.8
}
.stackChartContainer {
    display: inline-block;
    height:49%;
    width: 100%;
}
.transactions-chart {
    text-shadow: none!important;
    font-weight:bold!important;
}
.subEmissionsBar, .subStatsBar {
    list-style: none!important;
    list-style-type: none!important;
    margin: 0;
    padding: 0;
}
.subStatsBar {
    padding: 0.7rem 0;
}
.topDashboard, .subEmissionsTxt, .subOpEmissionsTxt {
    display: inline-block;
    font-size:2rem;
    padding:0.8rem 0 0rem;
    text-shadow:0 0 10px white;
}
.subEmissionsTxt {
    font-size:1.4rem;
}
.subOpEmissionsTxt {
    padding:0.6rem 0 0rem;
    font-size: 1.5rem;
}
.subDashboard {
    padding: 0rem 0 1rem
}
.subHeader, .subOpHeader {
    font-size:0.8rem;
    display: inline-block;
    margin-left:0.5rem
}
.subHeaderTxt, .subOpHeaderTxt, .officeTitle {
    /* float:left; */
    width:100%;
    color:darkgray!important;
    text-shadow: none;
    opacity:0.5!important;
    font-size:1rem;
    margin:2rem 0 1rem;
}
p.subHeaderTxt {
    font-size: 0.8rem;
    margin:0.6rem 0;
}
.subOpHeader {
    font-size: 0.6rem;
}
.subHeaderDivider {
    margin:2rem 1.5rem;
    border-top: 3px solid darkgray;
    opacity:0.1;
    border-radius: 6px;
}
.ethContribute {
    display:inline-block;
    font-size:0.5rem;
    margin-left:0.3rem
}
.footnotes {
    font-size:0.6rem
}
.operationsSubContainer, .operationsChartsContainer {
    width:100%;
    display: inline-block;
    height:16%;
}
.operationsChartsContainer {
    height:62%;
}
.operationsPieChartContainer, .operationsLineChartContainer {
    display: inline-block;
    height:100%;
    width:33%
}
.operationsLineChartContainer {
    width:65%;
    text-shadow: none!important;
}
.officeAddress, .officeTitle {
    margin:0.4rem 0;
    color:darkgray!important;
    text-shadow: none!important;
}
.officeAddress {
    font-size:0.6rem;
    color:darkgray!important;
    text-shadow: none!important;
    opacity: 0.5!important;
}
.dashboardNotActive {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    border-radius: 6px;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    z-index:1;
}
.notActiveContainer {
    position: absolute;
    left: 0;
    top: 45%;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index:2;
    display: flex;
    justify-content:center;
    margin:0 auto;
}
.notActiveTxt {
    /* display: inline-block; */
    vertical-align: middle;
    line-height: normal;
    font-size:1.4rem;
    color:darkgray!important;
    text-shadow: none!important;
    opacity: 0.3!important;
}  