.errorMsgContainer {
    height:55vh;
    width:100%;
    text-align: center;
    position: relative;
}
.errorMsgSubContainer {
    position: absolute;
    top:50%;
    left:0;
    right: 0;
}
.errorMsg {
    font-size:1.4rem;
    text-align: center;
    color:#616161;
    text-shadow: none!important;
}