@media only screen and (max-width:46em) {
    .main {
        width:95%!important;
    }
}
@media only screen and (min-width: 46em) and (max-width: 66em) and (orientation:portrait) {
    .main {
        width:95%!important;
    }
}

.main {
    width:100%;
    height:100%;
    /* max-width: 1000px; */
    margin:0 auto;
}