@media only screen and (max-width:46em) {
    .nav {
        width: 100%!important;
    }
    .imgHeader {
        margin-left:0.8rem!important;
        height:50px!important
    }
    .headerRight {
        top:30%!important
    }
    .subHeaderRight {
        display: none!important;
    }
    .buttonHead {
        margin-right: revert!important;
    }
}   
.nav {
    position:relative;
    height:80px;
    width: 90%;
    margin: 0 auto;
    max-width: 2000px;
}
.net0LabsLogo {
    max-width: 160px;
    cursor: pointer;
}
.imgHeader {
    float:left;
    cursor: pointer;
}
.btnLaunch {
    float:right;
    transform: translateY(-50%);
    right:0;
    margin-top:3rem;
    padding:0.7rem 0.5rem;
    background-color: transparent;
    border:solid white;
    border-radius: 6px;
    color:white;
    font-size:0.9rem;
    font-weight: bold;
    opacity:0.25;
}
.headerRight {
    float:right;
    position: absolute;
    top:50%;
    /* bottom:0; */
    transform: translateY(-50%);
    right:0;
    display:flex;
}
.buttonHead, .buttonHeadActive, .buttonHeadInactive {
    padding:0.7rem 0.8rem;
    background-color: transparent;
    border-radius: 6px;
    color:darkgray;
    opacity:0.4;
    font-size:0.9rem;
    font-weight: bold;
    /* text-shadow:0 0 10px #fff; */
    border:none;
    margin-right: 2rem;
    cursor: pointer;
}
.buttonAbout {
    position: relative!important;
    top:30%!important
}